-page_sat { padding: tops 0;

background: #fff; font-family: "Arvo", serif;
}
-page 404 img { width: 100%;}

.four zero four_bg { background-image: url(); height: 400px; background-position: center;}

.four zero four_bg h1 {font-size: 80px;}



.four zero four bg h3 { font-size: 0px;}

.Link 404 {

color: #fff !important; padding: 10px 20px; background: #cccd11; margin: 20px 0; display: inline-block;

.contant box 404 ( margin-top: -50px;}